.copyright
  #foot
    Code at Github: <a class="" href='git@github.com:CliveIMPISA/teampay-db-views.git'>CliveIMPISA/teampay-db-views</a>
    %br
    Created by <a class="" href='https://github.com/CliveIMPISA/teampay-db-views'>Clive, Amon, Jevon</a>
